<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/508ac17d5f.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/styles.css" />

    <title>Vords w Frens</title>
  </head>

  <body id="body">
    <main id="main"></main>
    <footer>
      <p class="text-center text-muted">
        &copy; Copyright 2021 The Awesome People
      </p>
      <script src="/dict/dict.js"></script>
      <script src="/game_infra.js"></script>
      <script src="/sign_in.js"></script>
      <script src="/game_utils.js"></script>
    </footer>
  </body>
</html>
