/* body {
  min-height: 90vh;
  padding: 0;
} */

body {
  justify-content: center;
  /* text-align: center; */
}

#signInDiv {
  margin: 178px auto;
  width: 640px;
  padding: 10px;
}

#signUpDiv {
  margin: 178px auto;
  width: 640px;
  padding: 10px;
}

#selectGameDiv {
  margin: 178px auto;
  width: 640px;
  padding: 10px;
}

#history {
  display: block;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

#main {
  margin: 10px 30px 10px 100px;
  /* margin: auto; */
  display: grid;
  grid-template-columns: [col1] 65% [col2] 35%;
  grid-template-rows: [row1] 90% [row2] 10%;
  justify-content: center;
}

#definition {
  text-align: center;
  position: fixed;
  z-index: 10;
  width: auto;
  height: auto;
  margin: 150px 300px;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 3%;
  padding: 10px;
}

#modal {
  text-align: center;
  position: fixed;
  z-index: 10;
  width: auto;
  height: auto;
  margin: 150px 300px;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 3%;
  padding: 10px;
}

#board_area {
  margin: auto;
}

#board {
  display: grid;
  background-color: rgb(255, 235, 205);
  border: 2px solid black;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 30px);
  /* padding: 0; */
  width: 480px;
  /* height: 454px; */
}

.square {
  text-align: center;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  text-transform: uppercase;
}

.tw {
  background-image: url(/pics/TW.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.tl {
  background-image: url(/pics/TL.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.dw {
  background-image: url(/pics/DW.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.dl {
  background-image: url(/pics/DL.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.st {
  background-image: url(/pics/ST.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.tile {
  text-align: center;
  display: inline-block;
  background-color: whitesmoke;

  border-radius: 20%;
  text-transform: uppercase;
  min-width: 25px;
  height: auto;
  cursor: move;
}

.p1 {
  border: 1px solid rgb(38, 184, 38);
}

.tilep1 {
  cursor: auto;
  border: 2px dotted rgb(38, 184, 38);
}

.p2 {
  border: 1px solid rgb(221, 56, 56);
}

.tilep2 {
  cursor: auto;
  border: 2px dotted rgb(221, 56, 56);
}

sup {
  font-size: -1px;
}

#pHands_area {
  margin: auto;
  justify-content: center;
}

#p1Hand table {
  margin: auto;
}

#p2Hand table {
  margin: auto;
}

table {
  border-collapse: collapse;
}

.cell {
  text-align: center;
  min-width: 30px;
  border: 1px solid grey;
  border-radius: 5%;
}

.cell:empty::after {
  content: "\00a0";
}

.player_score {
  background-color: rgba(231, 236, 222, 0.938);
}

.hide {
  display: none;
}
